{% load static %}

<script src="{% static 'scripts/seleccion_usuario.js' %}"></script>

<header>
    <div class="navbar">
        <div class="container-logo--a">
            <a class="container-logo" href="{% url 'home' %}">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                <h1 class="logo__titulo">BLEUT</h1>
            </a>          
        </div>
        <div class="nav_links">
            <ul class="nav_links-container">
                <li class="nav_links-element"><a href="{% url 'quienesSomos' %}">¿Quienes somos?</a></li>
                <li class="nav_links-element nav_links-element--small"><a href="{% url 'soporte'%}">Soporte</a></li>
                <li class="nav_links-element nav_links-element--small"><a href="{% url 'contacto'%}">Contacto</a></li>  
                <li class="">
                    <div class="container--login">
                        {% if request.user.is_authenticated %}      
                            <a onclick="seleccion_usuario()" class="container-login--a ingresar_tipo_usuario" href="">
                                <div class="nav_links-element--login">                                                         
                                    {{request.user}}                                                                                                                                 
                                </div>                 
                            <i class="bi bi-person-fill"></i>
                            </a>
                        {% else %}
                            <a onclick="seleccion_usuario()" class="container-login--a ingresar_tipo_usuario" href="{% url 'auth_login' %}">
                                <div class="nav_links-element--login">                                                         
                                    Iniciar Sesión
                                    <br>
                                    /Registrarse                                                                                                                                    
                                </div>                 
                            <i class="bi bi-person-fill"></i>
                            </a> 
                        {% endif %}                                                              
                    </div>
                    <ul class="nav_links menu__login">
                        {% if request.user.is_authenticated %}                                                           
                                <li><a href="{% url 'home' %}">Inicio</a></li>                                                                                 
                        {% endif %}
                    </ul>                       
                </li>                 
                
            </ul>
        </div>
    </div>
 
</header>
